// utf alte grotesk vf
@font-face {
  font-display: swap;
  font-family: 'UTF Alte Grotesk VF';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/utf-alte-grotest-vf/UTFAlteGroteskVF.woff2') format('woff2'),
       url('../fonts/utf-alte-grotest-vf/UTFAlteGroteskVF.woff') format('woff');
}
