@use 'functions' as *;

:root {
  // spacings
  // 20-25
  --s-s: clamp(1.25rem, 1.1629rem + 0.372vw, 1.563rem);
  // 40-100
  --s-m: clamp(2.5rem, 1.454rem + 4.461vw, 6.25rem);
  // 60-180
  --s-l: clamp(3.75rem, 1.659rem + 8.922vw, 11.25rem);

  // fonts
  --ff-primary: 'UTF Alte Grotesk VF', 'Open Sans', 'Fira Sans', 'Source Sans Pro', 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

  // font-sizes
  // 14-18
  --fs-s: clamp(0.875rem, 0.805rem + 0.297vw, 1.125rem);
  // 16-22
  --fs-base: clamp(1rem, 0.895rem + 0.446vw, 1.375rem);
  // 24-80
  --fs-m: clamp(1.5rem, 0.524rem + 4.164vw, 5rem);
  // 60-140
  --fs-xl: clamp(3.75rem, 2.356rem + 5.948vw, 8.75rem);
  // 40-200
  --fs-xxl: clamp(2.5rem, -0.288rem + 11.896vw, 12.5rem);
  // 60-260
  --fs-xxxl: clamp(3.75rem, 0.265rem + 14.87vw, 16.25rem);

  // font-weights
  --fw-thin: 100;
  --fw-hairline: var(--fw-thin);
  --fw-xlight: 200;
  --fw-ultralight: var(--fw-xlight);
  --fw-light: 300;
  --fw-normal: 400;
  --fw-regular: var(--fw-normal);
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-demibold: var(--fw-semibold);
  --fw-bold: 700;
  --fw-xbold: 800;
  --fw-ultrabold: var(--fw-xbold);
  --fw-black: 900;
  --fw-heavy: var(--fw-black);
  --fw-xblack: 950;
  --fw-ultrablack: var(--fw-xblack);

  // colors
  --c-light: #FFFEFD;
  --c-dark: #1A1A18;

  // animations

  // z-index
  --zi-menu: 2000;
}
