@use 'functions' as *;

:root {
  // spacings
  // 20-25
  --s-s: clamp(1.25rem, 1.1629rem + 0.372vw, 1.563rem);

  // layout (@link https://utopia.fyi/grid/calculator?c=375,20,1.2,1600,36,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,xs,xl,12)
  // --grid-max-width: 102rem;
  // --grid-gutter: var(--s-s-xs, clamp(1.25rem, calc(1.12rem + 0.55vw), 1.69rem));
  // --grid-columns: 12;

  // fonts
  --ff-primary: 'UTF Alte Grotesk VF', 'Open Sans', 'Fira Sans', 'Source Sans Pro', 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

  // font-sizes
  // 16-24
  --fs-base: clamp(1rem, 0.861rem + 0.595vw, 1.5rem)

  // font-weights
  --fw-thin: 100;
  --fw-hairline: var(--fw-thin);
  --fw-xlight: 200;
  --fw-ultralight: var(--fw-xlight);
  --fw-light: 300;
  --fw-normal: 400;
  --fw-regular: var(--fw-normal);
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-demibold: var(--fw-semibold);
  --fw-bold: 700;
  --fw-xbold: 800;
  --fw-ultrabold: var(--fw-xbold);
  --fw-black: 900;
  --fw-heavy: var(--fw-black);
  --fw-xblack: 950;
  --fw-ultrablack: var(--fw-xblack);

  // colors
  --c-light: #FFFFFF;
  --c-dark: #1A1A18;

  // animations
  --ease-in-out-quart: cubic-bezier(0.76, 0, 0.24, 1);

  // z-index
  --zi-cursor: 2000;
}
